In [1]:
import pandas as pd
import numpy as np
import re

pd.set_option('display.max_columns', None)  # me muestre todas las columnas
pd.set_option('display.max_colwidth', 100)  #me muestre más caracteres por columna.

import warnings
warnings.filterwarnings('ignore')

In [2]:
act = pd.read_csv('data/actor.csv', encoding= "ISO-8859-1") 
cat = pd.read_csv('data/category.csv', encoding= "ISO-8859-1") 
fil = pd.read_csv('data/film.csv', encoding= "ISO-8859-1") 
inv = pd.read_csv('data/inventory.csv', encoding= "ISO-8859-1") 
lan = pd.read_csv('data/language.csv', encoding= "ISO-8859-1") 
old = pd.read_csv('data/old_HDD.csv', encoding= "ISO-8859-1") 
ren = pd.read_csv('data/rental.csv', encoding= "ISO-8859-1")

In [3]:
# Eliminamos la columna 'last_uptdate' de la tabla ren.

ren = ren.drop(['last_update'], axis=1)

In [4]:
# Cambiamos el tipo de dato de las columnas 'return_date' y 'rental_date'.
#ren['return_date'] = pd.to_datetime(ren['return_date'])
#ren['rental_date'] = pd.to_datetime(ren['rental_date'])

In [7]:
# Así queda la tabla ren.
ren.head()

,rental_id,rental_date,inventory_id,customer_id,return_date,staff_id
0,1,2005-05-24 22:53:30,367,130,2005-05-26 22:04:30,1
1,2,2005-05-24 22:54:33,1525,459,2005-05-28 19:40:33,1
2,3,2005-05-24 23:03:39,1711,408,2005-06-01 22:12:39,1
3,4,2005-05-24 23:04:41,2452,333,2005-06-03 01:43:41,2
4,5,2005-05-24 23:05:21,2079,222,2005-06-02 04:33:21,1

In [8]:
ren.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   rental_id     1000 non-null   int64
 1   rental_date   1000 non-null   object
 2   inventory_id  1000 non-null   int64
 3   customer_id   1000 non-null   int64
 4   return_date   1000 non-null   object
 5   staff_id      1000 non-null   int64
dtypes: int64(4), object(2)
memory usage: 47.0+ KB

In [9]:
# Eliminamos las columnas 'last_update'
inv = inv.drop(['last_update'], axis=1)

In [10]:
# Así queda la tabla inv.
inv.head()

   inventory_id  film_id  store_id
0             1        1         1
1             2        1         1
2             3        1         1
3             4        1         1
4             5        1         2

In [11]:
inv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   inventory_id  1000 non-null   int64
 1   film_id       1000 non-null   int64
 2   store_id      1000 non-null   int64
dtypes: int64(3)
memory usage: 23.6 KB

In [12]:
# Hacemos varios cambios en la tabla fil.
fil.rename({'language_id': 'language'}, axis=1, inplace=True) # cambiar el nombre de la columna language
fil.rename({'original_language_id': 'original_language'}, axis=1, inplace=True) # cambiar el nombre de la columna original language
fil.language = 'English' #que todos los language sean English
fil.release_year = '' #vaciar release year porque está vacia
fil.original_language = '' #vaciar original language porque son todo nulos y querremos llenarla en el futuro.
fil = fil.drop('last_update', axis = 1) #quitamos last_update

In [13]:
fil['actors'] = '' #creamos columna vacía
def actors(peli): #creamos función que saque los actores de esa peli
    act = []
    for i in old.index:
        if old.title[i] == peli:
            name = old.first_name[i] + ' ' + old.last_name[i]
            act.append(name)
    return ', '.join(act)

In [14]:
#los introducimos por cada fila
for i in fil.index:
    fil['actors'][i] = actors(fil.title[i])

In [15]:
fil['category'] = '' #creamos columna vacía
def categ(peli):  #creamos función que saque la categoría de esa peli
    categor = ''
    for i in old.index:
        if old.title[i] == peli:
            categor = cat[cat.category_id == old.category_id[i]].name.iloc[0]
            return categor
#Introducimos la categoría en cada fila
for i in fil.index:
    fil['category'][i] = categ(fil.title[i])

In [16]:
fil.category.fillna('', inplace=True) # Rellenamos los valores vacíos de category con '' (nada).

In [17]:
fil.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   film_id            1000 non-null   int64
 1   title              1000 non-null   object
 2   description        1000 non-null   object
 3   release_year       1000 non-null   object
 4   language           1000 non-null   object
 5   original_language  1000 non-null   object
 6   rental_duration    1000 non-null   int64
 7   rental_rate        1000 non-null   float64
 8   length             1000 non-null   int64
 9   replacement_cost   1000 non-null   float64
 10  rating             1000 non-null   object
 11  special_features   1000 non-null   object
 12  actors             1000 non-null   object
 13  category           1000 non-null   object
dtypes: float64(2), int64(3), object(9)
memory usage: 109.5+ KB

In [18]:
ren.customer_id.max()

597

In [19]:
# Creamos el dataframe 'cus' con los ids de todos los clientes ya existentes.
# Añadimos columnas vacías para rellenar en el futuro.
cus = pd.DataFrame({'customer_id': range(1, 598)})
cus['name'] = ''
cus['lastname'] = ''
cus['telephone'] = ''
cus['mail'] = ''

In [20]:
%pip install pymysql

Requirement already satisfied: pymysql in c:\users\elmat\anaconda3\lib\site-packages (1.0.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [21]:
from sqlalchemy import create_engine

In [22]:
# cargar archivo de contraseñas

with open('password.txt', 'r') as file:
    
    passwd = file.read().split('\n')[0]

In [23]:
str_conn = f'mysql+pymysql://root:{passwd}@localhost:3306/blockbuster'
cursor = create_engine(str_conn)

ren.to_sql('rental',con=cursor, if_exists='replace', index=False)
inv.to_sql('inventory',con=cursor, if_exists='replace', index=False)
fil.to_sql('films',con=cursor, if_exists='replace', index=False)
cus.to_sql('customer',con=cursor, if_exists='replace', index=False)

597

In [45]:
orden = sorted(list(ren.inventory_id.unique()), reverse=True)

In [46]:
orden

[4581,
 4579,
 4573,
 4568,
 4558,
 4556,
 4554,
 4540,
 4535,
 4534,
 4507,
 4502,
 4500,
 4486,
 4483,
 4482,
 4478,
 4469,
 4466,
 4463,
 4453,
 4452,
 4451,
 4445,
 4444,
 4443,
 4441,
 4438,
 4433,
 4428,
 4427,
 4425,
 4420,
 4419,
 4417,
 4407,
 4397,
 4396,
 4395,
 4389,
 4388,
 4387,
 4384,
 4376,
 4372,
 4371,
 4369,
 4365,
 4364,
 4360,
 4358,
 4357,
 4356,
 4352,
 4346,
 4339,
 4338,
 4330,
 4327,
 4322,
 4319,
 4318,
 4317,
 4306,
 4304,
 4296,
 4285,
 4282,
 4281,
 4279,
 4278,
 4276,
 4272,
 4265,
 4264,
 4261,
 4260,
 4254,
 4252,
 4250,
 4243,
 4238,
 4232,
 4231,
 4213,
 4212,
 4210,
 4209,
 4204,
 4193,
 4191,
 4181,
 4179,
 4178,
 4171,
 4169,
 4168,
 4163,
 4156,
 4154,
 4147,
 4142,
 4140,
 4136,
 4135,
 4134,
 4124,
 4108,
 4106,
 4095,
 4090,
 4089,
 4088,
 4087,
 4079,
 4068,
 4067,
 4052,
 4049,
 4045,
 4034,
 4032,
 4030,
 4029,
 4021,
 4020,
 4019,
 4017,
 4010,
 4008,
 4005,
 4004,
 4001,
 3999,
 3997,
 3995,
 3990,
 3989,
 3983,
 3979,
 3973,
 3969,
 3962,
 3961,
 3954,
 3949,
 3938,
 3926,
 3919,
 3917,
 3912,
 3909,
 3905,
 3904,
 3900,
 3894,
 3890,
 3888,
 3883,
 3878,
 3860,
 3845,
 3841,
 3832,
 3828,
 3827,
 3775,
 3774,
 3770,
 3759,
 3757,
 3744,
 3741,
 3737,
 3725,
 3722,
 3711,
 3704,
 3698,
 3693,
 3689,
 3688,
 3687,
 3683,
 3677,
 3672,
 3669,
 3664,
 3660,
 3652,
 3642,
 3632,
 3631,
 3630,
 3629,
 3628,
 3627,
 3621,
 3604,
 3596,
 3595,
 3578,
 3572,
 3564,
 3560,
 3552,
 3548,
 3546,
 3545,
 3544,
 3543,
 3537,
 3534,
 3530,
 3528,
 3524,
 3518,
 3517,
 3516,
 3515,
 3509,
 3501,
 3499,
 3497,
 3489,
 3481,
 3476,
 3473,
 3464,
 3462,
 3453,
 3448,
 3437,
 3435,
 3427,
 3421,
 3420,
 3418,
 3416,
 3407,
 3399,
 3397,
 3395,
 3393,
 3390,
 3389,
 3384,
 3380,
 3376,
 3374,
 3371,
 3369,
 3367,
 3364,
 3363,
 3360,
 3350,
 3349,
 3347,
 3346,
 3344,
 3343,
 3342,
 3332,
 3328,
 3321,
 3320,
 3319,
 3318,
 3308,
 3303,
 3301,
 3299,
 3293,
 3289,
 3279,
 3273,
 3264,
 3260,
 3250,
 3249,
 3248,
 3242,
 3226,
 3225,
 3213,
 3207,
 3203,
 3200,
 3197,
 3195,
 3194,
 3193,
 3189,
 3183,
 3160,
 3152,
 3140,
 3133,
 3132,
 3131,
 3128,
 3121,
 3119,
 3115,
 3109,
 3108,
 3105,
 3098,
 3095,
 3090,
 3084,
 3075,
 3074,
 3063,
 3050,
 3049,
 3046,
 3045,
 3032,
 3024,
 3021,
 3012,
 3005,
 2993,
 2985,
 2984,
 2973,
 2970,
 2969,
 2968,
 2965,
 2964,
 2963,
 2962,
 2951,
 2945,
 2944,
 2942,
 2941,
 2938,
 2936,
 2921,
 2920,
 2913,
 2911,
 2908,
 2903,
 2898,
 2895,
 2889,
 2887,
 2884,
 2877,
 2873,
 2872,
 2868,
 2867,
 2863,
 2859,
 2858,
 2851,
 2847,
 2846,
 2841,
 2835,
 2833,
 2830,
 2829,
 2817,
 2815,
 2809,
 2803,
 2798,
 2793,
 2792,
 2787,
 2781,
 2780,
 2777,
 2776,
 2766,
 2756,
 2752,
 2751,
 2748,
 2745,
 2744,
 2735,
 2727,
 2714,
 2711,
 2701,
 2697,
 2685,
 2684,
 2679,
 2678,
 2671,
 2665,
 2659,
 2656,
 2646,
 2638,
 2637,
 2636,
 2634,
 2630,
 2628,
 2624,
 2622,
 2617,
 2613,
 2611,
 2610,
 2601,
 2599,
 2598,
 2596,
 2591,
 2584,
 2580,
 2578,
 2575,
 2570,
 2569,
 2561,
 2559,
 2556,
 2540,
 2533,
 2530,
 2528,
 2527,
 2524,
 2520,
 2514,
 2513,
 2510,
 2491,
 2486,
 2482,
 2478,
 2469,
 2468,
 2466,
 2465,
 2459,
 2452,
 2451,
 2449,
 2444,
 2442,
 2441,
 2437,
 2428,
 2424,
 2423,
 2421,
 2417,
 2410,
 2408,
 2397,
 2395,
 2392,
 2390,
 2388,
 2386,
 2381,
 2371,
 2368,
 2367,
 2363,
 2362,
 2346,
 2342,
 2329,
 2328,
 2327,
 2324,
 2314,
 2312,
 2306,
 2305,
 2296,
 2294,
 2291,
 2290,
 2284,
 2278,
 2276,
 2275,
 2272,
 2271,
 2263,
 2262,
 2260,
 2255,
 2253,
 2247,
 2242,
 2232,
 2221,
 2214,
 2211,
 2202,
 2195,
 2194,
 2193,
 2181,
 2180,
 2179,
 2176,
 2168,
 2154,
 2153,
 2136,
 2135,
 2114,
 2108,
 2095,
 2086,
 2080,
 2079,
 2077,
 2076,
 2075,
 2069,
 2065,
 2060,
 2058,
 2047,
 2038,
 2030,
 2029,
 2026,
 2022,
 2021,
 2010,
 2008,
 2001,
 1999,
 1995,
 1993,
 1983,
 1970,
 1966,
 1962,
 1955,
 1954,
 1951,
 1946,
 1941,
 1940,
 1928,
 1925,
 1922,
 1921,
 1920,
 1919,
 1914,
 1913,
 1905,
 1899,
 1897,
 1896,
 1890,
 1886,
 1885,
 1884,
 1872,
 1866,
 1862,
 1859,
 1853,
 1850,
 1842,
 1835,
 1833,
 1829,
 1828,
 1827,
 1825,
 1824,
 1822,
 1819,
 1818,
 1817,
 1816,
 1815,
 1814,
 1811,
 1810,
 1801,
 1800,
 1799,
 1795,
 1789,
 1786,
 1785,
 1783,
 1781,
 1780,
 1777,
 1774,
 1769,
 1761,
 1758,
 1757,
 1744,
 1736,
 1731,
 1721,
 1720,
 1718,
 1717,
 1714,
 1713,
 1711,
 1701,
 1699,
 1697,
 1689,
 1688,
 1686,
 1684,
 1681,
 1677,
 1675,
 1662,
 1655,
 1649,
 1648,
 1642,
 1629,
 1625,
 1622,
 1613,
 1602,
 1594,
 1590,
 1586,
 1585,
 1584,
 1581,
 1578,
 1573,
 1572,
 1567,
 1565,
 1554,
 1536,
 1529,
 1527,
 1525,
 1523,
 1521,
 1520,
 1518,
 1514,
 1510,
 1505,
 1498,
 1494,
 1489,
 1474,
 1471,
 1464,
 1457,
 1453,
 1446,
 1441,
 1438,
 1434,
 1431,
 1428,
 1414,
 1413,
 1412,
 1411,
 1409,
 1404,
 1400,
 1398,
 1396,
 1395,
 1393,
 1388,
 1387,
 1385,
 1383,
 1382,
 1381,
 1380,
 1369,
 1364,
 1363,
 1359,
 1354,
 1352,
 1349,
 1343,
 1338,
 1337,
 1334,
 1326,
 1321,
 1314,
 1313,
 1308,
 1303,
 1300,
 1299,
 1294,
 1293,
 1290,
 1288,
 1287,
 1286,
 1283,
 1278,
 1273,
 1265,
 1264,
 1259,
 1258,
 1257,
 1255,
 1254,
 1247,
 1235,
 1231,
 1230,
 1229,
 1227,
 1225,
 1222,
 1221,
 1208,
 1206,
 1203,
 1201,
 1197,
 1191,
 1188,
 1186,
 1183,
 1162,
 1160,
 1158,
 1156,
 1152,
 1150,
 1146,
 1144,
 1139,
 1131,
 1123,
 1122,
 1119,
 1118,
 1116,
 1113,
 1111,
 1103,
 1102,
 1099,
 1097,
 1096,
 1090,
 1086,
 1085,
 1084,
 1083,
 1077,
 1070,
 1069,
 1067,
 1054,
 1053,
 1044,
 1041,
 1027,
 1021,
 1020,
 1019,
 1012,
 1007,
 992,
 989,
 984,
 977,
 971,
 955,
 952,
 946,
 944,
 938,
 933,
 928,
 921,
 910,
 909,
 907,
 901,
 898,
 887,
 886,
 872,
 865,
 851,
 848,
 847,
 833,
 830,
 826,
 821,
 819,
 818,
 815,
 811,
 802,
 800,
 797,
 794,
 785,
 776,
 775,
 769,
 764,
 763,
 760,
 752,
 751,
 749,
 742,
 739,
 734,
 730,
 729,
 727,
 723,
 719,
 715,
 712,
 708,
 697,
 691,
 687,
 679,
 674,
 667,
 661,
 657,
 656,
 655,
 651,
 647,
 646,
 644,
 638,
 635,
 633,
 630,
 623,
 619,
 617,
 611,
 609,
 602,
 601,
 600,
 599,
 597,
 595,
 593,
 592,
 585,
 581,
 578,
 553,
 548,
 536,
 535,
 533,
 530,
 517,
 515,
 511,
 506,
 503,
 500,
 495,
 491,
 487,
 485,
 473,
 471,
 470,
 466,
 461,
 458,
 452,
 451,
 443,
 441,
 435,
 434,
 425,
 424,
 407,
 403,
 399,
 393,
 390,
 389,
 387,
 380,
 379,
 377,
 375,
 373,
 372,
 368,
 367,
 363,
 360,
 354,
 353,
 350,
 339,
 331,
 330,
 327,
 314,
 303,
 299,
 288,
 280,
 273,
 270,
 267,
 266,
 263,
 261,
 258,
 249,
 246,
 245,
 242,
 241,
 239,
 234,
 227,
 225,
 214,
 212,
 207,
 205,
 194,
 190,
 187,
 186,
 184,
 182,
 178,
 158,
 151,
 146,
 145,
 141,
 140,
 139,
 131,
 130,
 129,
 126,
 119,
 103,
 102,
 95,
 88,
 87,
 85,
 79,
 72,
 71,
 63,
 62,
 58,
 53,
 39,
 37,
 30,
 26,
 23,
 20,
 17,
 6,
 2]